In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Tamil-Nadu_2015.csv")

In [3]:
df.head()

,Organic Farmers,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,No,Farmer Name,Farmer Type,State,District,Complete Address,Email,Phone,Mobile,Organ ic Since\n?,Are a Cult\nivat ed,Area Organ ic,Crops Grown
1,1,Dinesh Geethchand,Individual,Tamil Nadu,Chennai,"6/1, New No.29, East Jones Road,\nSaidapet Pin...",NaN,NaN,9042792476,2010,4,4,"Coconut, Sapota"
2,2,Rayson Rappai,Individual,Tamil Nadu,Coimbat ore,"Otr Illam, 1/60, Murugan Colony, T.V.S.Nagar, ...",fresh@otrfarms. com,NaN,9994663550,2008,7,7,"Gooseberry, Sapota, Guava, Pomogranate, Onion,..."
3,3,Bhaskar Karupannan,Individual,Tamil Nadu,Coimbat ore,"Arya Organic Food Store, 240, Four Bangalow, N...",baskar77k@gma il.com,NaN,9894011088,1992,50,50,"Coconut, Mango"
4,4,Vijaykumar Kumar,Individual,Tamil Nadu,Coimbat ore,"No:140,Sathya Sai Nagar,Annur Road,Mettupala y...",NaN,NaN,9842524282,2009,5,5,Curry Leaf